/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.cursor-pointer{
    cursor: pointer;
}

.form-modal .custom-label{
    display: block;
    margin-bottom: 8px;
}